body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*             |||            */
/* //---- moje VVV ----------- */

label {
  padding: 10px;
}

/* --------------------- */
/* divTitledInput */
.divTitledInput {
  /* max-width: "100vw"; */
  align-items: center;
  width: fit-content;
  /* height: auto; */
  display: flex;
  margin: 5px;
  /* align-items: center; */
  /* float: left; */
  /* clear:both; */
}
.divTitledInput input{
  /* padding: 10px; */
  margin: 0px;
}
.divTitledInput label{
  padding: 3px;
  padding-left: 0px;
  text-align: right;
  height: auto;
  display: block;
}
.inputInvalid{
  color: red;
}

/* --------------------- */
/* divDropDown */
.divDropDown {
  /* width: auto; */
  /* height: auto; */
  display: flex;
  margin: "2px";
  /* align-items: center; */
  /* float: left; */
  /* clear:both; */
}
.divDropDown select{
  /* padding: 10px; */
  /* margin: 5px; */
  display: "flex";
  height: "38px";
  vertical-align: "center";
  top: "50%";
}
.divDropDown label{
  /* padding: 3px; */
  /* padding-left: 0px; */
  display: "block";
  text-align: "right";
  padding: "6px"
}
/* --------------------- */
/* divCheckBox */
.divCheckBox {
  width: auto;
  height: auto;
  display: flex;
  /* align-items: center; */
  /* float: left; */
  /* clear:both; */
}
.divCheckBox input{
  padding: 10px;
  margin: 5px;
}
.divCheckBox label{
  padding: 3px;
  padding-left: 0px;
}
/* --------------------- */

/* SIDEBAR */
 /* The sidebar menu */
 .sidebar {
  height: 100%; /* 100% Full-height */
  max-width: 100%;
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: left;
}

.sidebar hr {
  padding: 0px 0px 0px 0px;
  margin: 0px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: left;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
  background-color: #444;
}

.selectedTab {
  color: #f1f1f1;
  background-color: #444;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: relative;
  margin: 0px;
  font-size: 36px;
  text-align: right;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  margin: 0px;
  width: 130px;
  text-align: center;
  height: 100%;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
} 

/* --------------------- */

/* calculator Title Container */
#calculatorTitleContainer {
  position: relative;
  width: 100%;
  height: 55px;
}





/* 
html{
  width: 100vw;
} */

body {
  background-color: #CCCCCC;
  overflow-x: hidden; 
  /* disables horizontal scroll */
}



/* IZRACUNI */
#divIzracuni{
  visibility: collapse;

  background-color: rgba(120, 120, 120, 0.8);
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

#closeIzracuniButton{
  /* position: fixed; */
  right: 0;
  margin: 2vh 2vw;
  padding: 1vh 1vw;
  float: right;
}

#innerDivIzracuni{
  position: fixed;
  background-color: white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto;
  margin: 5vh 5vW;
  /* margin: 40px; */
  padding: 20px;
  border: solid;
  border-radius: 10px;
  border-width: 2px;
}

#saveBtn{
  /* position: fixed;
  background-color: white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto;
  margin: 5vh 5vW;
  /* margin: 40px; */
  /* padding: 20px;
  border: solid;
  border-radius: 10px;
  border-width: 2px; */
  
  right: 0;
  top: 0;
  position: absolute;
  display: block;
}

