body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label {
  padding: 10px;
}

.divTitledInput {
  align-items: center;
  width: fit-content;
  display: flex;
  margin: 5px;
}

.divTitledInput input {
  margin: 0px;
}

.divTitledInput label {
  padding: 3px;
  padding-left: 0px;
  text-align: right;
  height: auto;
  display: block;
}

.inputInvalid {
  color: red;
}

.divDropDown {
  display: flex;
  margin: "2px";
}

.divDropDown select {
  display: "flex";
  height: "38px";
  vertical-align: "center";
  top: "50%";
}

.divDropDown label {
  display: "block";
  text-align: "right";
  padding: "6px"
}

.divCheckBox {
  width: auto;
  height: auto;
  display: flex;
}

.divCheckBox input {
  padding: 10px;
  margin: 5px;
}

.divCheckBox label {
  padding: 3px;
  padding-left: 0px;
}


/* SIDEBAR */
.sidebar {
  height: 100%;
  max-width: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 0px;
  transition: 0.5s;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: left;
}

.sidebar hr {
  padding: 0px 0px 0px 0px;
  margin: 0px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: left;
}

.sidebar a:hover {
  color: #f1f1f1;
  background-color: #444;
}

.selectedTab {
  color: #f1f1f1;
  background-color: #444;
}

.sidebar .closebtn {
  position: relative;
  margin: 0px;
  font-size: 36px;
  text-align: right;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  margin: 0px;
  width: 130px;
  text-align: center;
  height: 100%;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}


#calculatorTitleContainer {
  position: relative;
  width: 100%;
  height: 55px;
}


body {
  background-color: #CCCCCC;
  overflow-x: hidden;
}



/* IZRACUNI */
#divIzracuni {
  visibility: collapse;

  background-color: rgba(120, 120, 120, 0.8);
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#closeIzracuniButton {
  right: 0;
  margin: 2vh 2vw;
  padding: 1vh 1vw;
  float: right;
}

#innerDivIzracuni {
  position: fixed;
  background-color: white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto;
  margin: 5vh 5vW;
  padding: 20px;
  border: solid;
  border-radius: 10px;
  border-width: 2px;
}

#divNewProject {
  visibility: collapse;

  background-color: rgba(120, 120, 120, 0.8);
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#closeNewProjectButton {
  right: 0;
  margin: 2vh 2vw;
  padding: 1vh 1vw;
  float: right;
}

#innerDivNewProject {
  position: fixed;
  background-color: white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto;
  margin: 30vh 30vW;
  padding: 20px;
  border: solid;
  border-radius: 10px;
  border-width: 2px;
}

#newProjectName {
  display: block;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 400px;
  margin: 0;
  padding: 20px;
}

#newProjectTitle {
  display: block;
}

#newProjectButton {
  display: block;
}

#createProjectErrorMessage {
  display: block;
  color: red;
}

#divConfirmDeleteProject {
  visibility: collapse;

  background-color: rgba(120, 120, 120, 0.8);
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#closeConfirmDeleteProjectButton {
  right: 0;
  margin: 2vh 2vw;
  padding: 1vh 1vw;
  float: right;
}

#innerDivConfirmDeleteProject {
  position: fixed;
  background-color: white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto;
  margin: 30vh 30vW;
  padding: 20px;
  border: solid;
  border-radius: 10px;
  border-width: 2px;
}

#divConfirmExitProject {
  visibility: collapse;

  background-color: rgba(120, 120, 120, 0.8);
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#innerDivConfirmExitProject {
  position: fixed;
  background-color: white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto;
  margin: 30vh 30vW;
  padding: 20px;
  border: solid;
  border-radius: 10px;
  border-width: 2px;
}

#saveBtn {
  right: 0;
  top: 0;
  position: absolute;
  display: block;
}

#izadiBtn {
  right: 0;
  top: 0;
  margin-right: 150px;
  position: absolute;
  display: block;
}

.projectLink {
  margin: 10px;
}

.okvir {
  border-color: black;
  border: solid;
  border-radius: 15px;
  border-width: 2px;
  padding: 2px;
}

.centerDiv{
  background-color: white;
  margin: auto;
  width: 50%;
  height: 50%;
  margin-top: 25vh;
  margin-left: 25vw;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
}

.centeredElement{
  display: block;
  margin: 5px;
}

.App{
  height: 100vh;
  margin: 0;
  background-color: #CCCCCC;
}

.izracuniPostavkeVodilica{
  margin-top: 0;
  margin-left: 25vw;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: #CCCCCC;
}

.izracunValid{
  color: white;
  background-color: green;
}

.izracunInvalid{
  color: white;
  background-color: red;
}